%html
  %head
  %body
    - 1.times do
      - 5.times do
        %span.awesome "Yo"
      - 5.times do
        %span#cool "YoYo"
      - 5.times do
        %br
      - 5.times do
        %div.last
          "Hi"
