<html>
  <head></head>
  <body>
    <% 1000.times do %>
      <% 5.times do %>
        <span>Yo</span>
      <% end %>
      <% 5.times do %>
        <span>YoYo</span>
      <% end %>
      <% 5.times do %>
        <br />
      <% end %>
      <% 5.times do %>
        <div>
          <span>Hi</span>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
