<html>
  <head></head>
  <body>
    <% 10000.times do %>
      <span id="cool">Yo</span>
      <p class="awesome">Yo</p>

      <br />

      <div class="last">
        <span>Hi</span>
      </div>
    <% end %>
  </body>
</html>
